.filters {
    position: relative;
    width: 400px;
}

.filters__sticky {
    width: 360px;
    height: 320px;
    background-color: #faebd7;
    position: sticky;
    top: 180px;
    border-radius: 15px;
}

.filters__sticky h1 {
    text-align: center;
    padding: 30px;
}