# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/


*.py[cod]
*$py.class

# Virtual environments
backend/venv/
venv/
env/
ENV/

# Compiled Python modules
*.pyc

# Logs
*.log

# macOS-specific files
.DS_Store

# Editor-specific files
*.swp
*~
*.bak

# Local development configuration
.env

# Dependency directories
lib/
lib64/
bin/
include/
share/

# Build output
build/
dist/

# Cached files
*.egg-info/
*.egg

# Package tarballs
*.tar.gz

# Pipenv specific files
Pipfile
Pipfile.lock

# Jupyter Notebook auto-save and output files
.ipynb_checkpoints/
*.ipynb-meta
*.nbconvert.*

# Testing and coverage
.coverage
.tox/

# Django specific files
*.pyc
*.pyo
*.pyd
__pycache__/
media/
static/
local_settings.py

# Flask specific files
instance/
*.sqlite
