/* Styles for the color filter section */
.color__filter {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Styles for radio inputs within labels in the color filter */
.color__filter label input[type='radio'] {
    background-color: var(--mainBlackColor);
    margin: 0 5px 5px 0;
}
