.nav .nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav .nav__ul .nav__li {
    background-color: rgb(0, 0, 0);
}

.nav .nav__ul .nav__li .nav__link {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.nav .nav__ul .nav__li .nav__link:hover {
    background-color: antiquewhite;
    color: black;
}

.nav .nav__ul .nav__li .nav__link.active {
    background-color: antiquewhite;
    color: black;
}
