.products {
    display: flex;
    margin-bottom: 30px;
}

.products .filters {
    position: relative;
    width: 400px;
    padding: 30px;
}

.products .filters .filters__sticky {
    width: 287px;
    position: sticky;
    top: 180px;
    border-radius: 15px;
    padding: 0 30px;
}

.products .filters .filters__sticky h1 {
    text-align: center;
    padding: 30px;
}


.products .filters .filters__sticky div.css-3g5hux-Slider {
    background: var(--mainColor);
}

.products .filters .filters__sticky .button__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.products .filters .filters__sticky .button__wrapper .resetFiltersBtn {
    margin: 20px 0;
    border: 1px solid var(--mainColor);
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--mainColor);
    color: var(--mainBlackColor);
    transition: 0.3s;
    box-shadow: var(--buttonShadow);
}

.products .filters .filters__sticky .button__wrapper .resetFiltersBtn:hover {
    font-weight: bolder;
    background-color: var(--mainBlackColor);
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}


.products .filters .filters__sticky .products__counters {
    text-align: center;
    font-style: italic;
}

.products .grid__wrapper {

}

.products .grid__wrapper .products__sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.products .grid__wrapper .products__grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 30px;
}

.products .grid__wrapper .products__button {
    display: flex;
    justify-content: center;
}

.products .grid__wrapper .products__button .loadMoreBtn {
    border: 1px solid var(--mainColor);
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--mainColor);
    color: var(--mainBlackColor);
    transition: 0.3s;
    box-shadow: var(--buttonShadow);
}

.products .grid__wrapper .products__button .loadMoreBtn:hover {
    font-weight: bolder;
    background-color: var(--mainBlackColor);
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
}




