.sorting__by {
    font-size: 12px;
}

#sorting {
    border-radius: unset;
    border: unset;
    padding: 5px 10px;
    background-color: white;
    outline: unset;
    border-bottom: 1px solid black;
    cursor: pointer;
}
