.product__card {
    max-width: 380px;
    margin: 10px;
    display: grid;
    grid-template-rows: 320px 100px 150px 50px 50px 80px;
    box-shadow: var(--cardShadow);
    overflow: hidden;
    border-radius: 15px;
}

.product__card img {
    padding: 20px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card__title {
    padding: 0 30px;
    font-size: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
}

.card__description {
    color: #888;
    font-size: 14px;
    text-align: center;
    padding: 0 20px;
}

.card__price {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.card__price .price__original {
    text-decoration: line-through;
    margin-right: 10px;
}

.card__price .price__discounted {
    color: #f00;
}

.card__ratings {
    width: 100%;
    display: flex;
    justify-content: center;

}

.card__ratings .ratings {
    color: gold;
    letter-spacing: 10px;
    font-size: 34px;
}

.product__card .product__button {
    background-color: antiquewhite;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
}

.product__card .product__button:hover {
    font-weight: bolder;
    background-color: black;
    color: antiquewhite;
}

.card__header {
    overflow: hidden;
}

.card__body {
    padding: 0 20px 20px 20px;
    position: relative;
}

.card__footer {
    position: relative;
    width: 100%;
}

.custom__alert {
    position: fixed;
    top: 5.8%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    z-index: 9999;
}
