.category__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.category__header .header__title {
    text-align: center;
    background-color: var(--mainWhiteColor);
    font-size: 36px;
    margin-bottom: 20px;
}

.category__header .header__descriptions {
    color: var(--textGaryColor);
    text-align: center;
    width: 60%;
}


