.nav .nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBlackColor);
}

.nav .nav__ul .nav__li {
    background-color:var(--mainBlackColor);
}

.nav .nav__ul .nav__li .nav__link {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 18px;
    color: var(--mainWhiteColor);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

.nav .nav__ul .nav__li .nav__link:hover {
    background-color:var(--mainColor);
    color:var(--mainBlackColor);
}

.nav .nav__ul .nav__li .nav__link.active {
    background-color: var(--mainColor);
    color: var(--mainBlackColor);
}


