/* Styles for the navigation section */
.nav .nav__ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--mainBlackColor);
}

/* Styles for each navigation list item */
.nav .nav__ul .nav__li {
    background-color: var(--mainBlackColor);
}

/* Styles for navigation links within list items */
.nav .nav__ul .nav__li .nav__link {
    padding: 10px 20px;
    font-weight: 400;
    font-size: 18px;
    color: var(--mainWhiteColor);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

/* Styles for navigation links on hover */
.nav .nav__ul .nav__li .nav__link:hover {
    background-color: var(--mainColor);
    color: var(--mainBlackColor);
}

/* Styles for active navigation link */
.nav .nav__ul .nav__li .nav__link.active {
    background-color: var(--mainColor);
    color: var(--mainBlackColor);
}


