/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;300;400;700;900&display=swap");

/* Global Variables */
:root {
    /* Colors */
    --mainColor: #faebd7;
    --mainWhiteColor: rgb(255, 255, 255);
    --mainBlackColor: rgb(0, 0, 0);
    --mainGreyColor: #f4f4f4;
    --mainRedColor: red;
    --mainGoldColor: gold;
    --mainGreenColor: #4caf50;
    --mainBlueColor: blue;

    /* Shadows */
    --mainShadow: 0 10px 20px 0 rgba(109, 109, 109, 0.45);
    --cardShadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --buttonShadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    /* Text color */
    --textGaryColor: rgb(128, 128, 128);
}

/* Headings */
h2 {
    font-family: "Roboto", sans-serif;
}

/* Body */
body {
    font-family: "Montserrat", sans-serif;
}


