/* Mobile styles */
@media (max-width: 767px) {
    .product__wrapper {
        justify-content: center;
    }

    div.products__counters--mobile,
    .filters__menu,
    .filters__menu-close {
        display: block;
    }


    /*Products grid*/
    .products section.grid__wrapper div.products__grid {
        grid-template-columns: 1fr;
    }


    /*Aside*/
    main.products .filters {
        width: 0;
    }

    .products .filters .filters__sticky div.filters__menu {
        display: block;
        position: fixed;
        top: 290px;
        left: 20px;
    }

    .products .filters .filters__sticky .filters__wrapper {
        padding: 80px 40px;
        position: fixed;
        top: 230px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--mainWhiteColor);
        border: 1px solid black;
        z-index: 1000;
    }

    .product__wrapper main.products section.grid__wrapper button#filters__toggle{
        display: block;
        /*position: absolute;*/
        /*top: 0;*/
        /*left: 0;*/
    }

    /*Do tuk sym */
    button.close__button {
        display: block;
        /*position: absolute;*/
        /*top: 10px;*/
        /*right: 10px;*/
        cursor: pointer;
    }

    .filters__toggle-close {

    }

    section.nav ul.nav__ul {
        flex-direction: column;
        gap: 15px;
    }

    .products__counters {
        display: none;
    }

    section.nav ul.nav__ul li.nav__link a.nav__link.active {
        background: red;
        width: 180px;
    }


    footer.footer div.footer__wrapper div.footer__content {
        grid-template-columns: 1fr;
        justify-items: start;
        grid-gap: 20px;
    }

    main.products aside.filters div.filters__sticky {
        top: 320px;
    }

    .products .filters .filters__sticky .button__wrapper {
        flex-direction: column-reverse;
        align-items: center;


    }

    .products aside.filters {
        padding: 10px;
    }

    .products .filters div.filters__sticky h1 {
        text-align: left;
        padding: unset;
        margin-left: 100px;
    }

    div.products__counters--mobile span {
        all: unset;
        background: red;
    }

    .filters__menu-close {
        display: flex;
        height: 50px;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .fa-bars {
        font-size: 32px;
        /*background-color: var(--mainColor);*/
        color: var(--mainBlackColor);
        cursor: pointer;
        transition: color 0.3s;
    }

    .fa-bars:hover {
        color: var(--mainColor)
    }

    .svg-inline--fa.fa-bars {
        border: unset;
        font-size: 32px;
        padding: 5px;
        /*background-color: var(--mainColor);*/
        color: var(--mainBlackColor);
        cursor: pointer;
        transition: color 0.3s;
    }

}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
    .products section.grid__wrapper div.products__grid {
        grid-template-columns: 1fr;
    }
}

/* Small desktop styles */
@media (min-width: 1024px) and (max-width: 1279px) {
    .products section.grid__wrapper div.products__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium desktop styles */
@media (min-width: 1280px) and (max-width: 1919px) {
}

/* Large desktop styles  */
@media (min-width: 1920px) {
}
